body {
    display: flex;    
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    text-align: center;
}

.header {
    background: #18D8F0cc;
    flex: 0 0 auto;
    font-size: 56px;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px 2px rgb(97, 67, 67);
    text-align: center;
}

.sup {
    vertical-align: super;
}

.restart {
    text-decoration: none;
    color: #ED145A;
}

.hg-body {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.content {
    align-items: center;
    background: #18D8F0aa;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    text-align: center;
}

#snack-bar {
    background-color: #F090C0;
    border: 1px solid #000000;
    bottom: 30px;
    color: #000000;
    font-size: 24px;
    left: 47.75%;
    margin-left: -125px;
    min-width: 250px;
    padding: 10px;
    position: fixed;
    text-align: center;
    visibility: hidden;
}

#snack-bar.show {
    visibility: visible;
    
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.begin {
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-name: begin-fade;
    animation-iteration-count: infinite;
    background: #F090C0;
    border: 2.5px solid #ED145A;                        
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    height: 75px;
    padding: 0;
    margin: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-name: begin-fade;
    -webkit-animation-iteration-count: infinite;
    width: 150px;
}

@keyframes begin-fade {
    from { background-color: #F090C0; }
    to { background-color: #18D8F0cc; }
}

@-webkit-keyframes begin-fade {
    from { background-color: #F090C0; }
    to { background-color: #18D8F0cc; }
}

.flex-row {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 0 50px 0;
}
.nav {
    background: #F090C0;
    border: 2px solid #ED145A;
    box-shadow: 10px 10px 10px rgb(97, 67, 67);
    height: 400px;
    margin: 0 25px;
    order: -1;
    width: 200px;
}

.correct {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
}

.aside {
    background: #F090C0;
    border: 2px solid #ED145A;
    box-shadow: 10px 10px 10px rgb(97, 67, 67);
    height: 400px;
    margin: 0 25px;
    width: 200px;
}

.incorrect {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
}
/*This 3D flip from https://desandro.github.io/3dtransforms/docs/card-flip.html*/
/* https://davidwalsh.name/css-flip Updated from this site */
.container {
    background-image: url( 'images/flashdance.png' );
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #ED145A;
    box-shadow: 10px 10px 10px rgb(97, 67, 67);
    margin: 0;
    padding: 0;
    perspective: 900px;
    position: relative;
    text-align: center;
}

.container, .card, .front, .back, .video {
    height: 400px;
    width: 800px;
}

.card {
    border: 2px solid #ED145A;
    box-shadow: 10px 10px 10px rgb(97, 67, 67);
    display: flex;
    justify-content: center;
    line-height: 400px;
    margin: auto;
    position: absolute;
    text-align: center;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card figure {
    backface-visibility: hidden;
    display: block;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    width: 100%;
}

#front {
    align-items: center;
    backface-visibility: hidden;
    background: #F090C0;
    display: flex;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    line-height: 50px;      
    margin: auto;
}

.back {
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 50px;
    margin: auto;
    /* text-align: center; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    transform: rotateY( 180deg );
}

.card.flipped {
    transform: rotateY( 180deg );
}

.buttonC {
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-name: correct-fade;
    animation-iteration-count: infinite;
    background: #F090C0;                    
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    margin: auto;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-name: correct-fade;
    -webkit-animation-iteration-count: infinite;
    width: 100px;
}

@keyframes correct-fade {
    from { background-color: #F090C0; }
    to { background-color: #18D8F0cc; }
}

@-webkit-keyframes correct-fade {
    from { background-color: #F090C0; }
    to { background-color: #18D8F0cc; }
}

.buttonI {
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-name: incorrect-fade;
    animation-iteration-count: infinite;
    background: #F090C0;                    
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    margin: auto;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-name: incorrect-fade;
    -webkit-animation-iteration-count: infinite;
    width: 100px;
}

@keyframes incorrect-fade {
    from { background-color: #F090C0; }
    to { background-color: #18D8F0cc; }
}

@-webkit-keyframes incorrect-fade {
    from { background-color: #F090C0; }
    to { background-color: #18D8F0cc; }
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen 
    and (min-width: 375px)
    and (max-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {

    html, body {
        height: 100px;
        position: fixed;
        width: 100%;
    }

    .header {
        font-size: 28px;
    }

    .flex-row {
        margin: 0;
        position: absolute;
        top: 100px;
    }

    /* Explanation of positioning here: https://discourse.wicg.io/t/position-an-element-relatively-to-another-element-from-anywhere-in-the-dom/968 */
    .begin {
        margin: 0;
        position: element('.container');
        transform: translateY(-100%)
    }

    #snack-bar {
        font-size: 12px;
        left: 50%;
    }

    .hg-body, .content, .flex-row {
        flex-direction: column;
    }

    .aside, .nav {
        font-size: 14px;
        height: 100px;
        margin: 25px auto;
        width: 300px;
    }

    .aside p, .nav p{
        font-size: 14px;
    }

    .container {
        perspective: 350px;
    }

    .container, .card, .card figure, .video {
        font-size: 13px;
        height: 150px;
        line-height: 75px;
        width: 300px;
    }

    .buttonC, .buttonI {
        font-size: 12px;
        height: 25px;
        width: 75px;
    }

    h3 {
        font-size: 14px;
    }
}

@media only screen 
    and (min-width: 375px)
    and (max-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {

        html, body {
            height: 100px;
            position: fixed;
            width: 100%;
        }

        .header {
            font-size: 28px;
        }
    
        .begin {
            margin: 0;
            position: element('.container');
            transform: translateY(-50%)
        }
    
        #snack-bar {
            font-size: 12px;
            left: 50%;
        }
    
        .aside, .nav {
            font-size: 14px;
            height: 150px;
            margin: 25px;
            width: 100px;
        }
    
        .aside p, .nav p{
            font-size: 14px;
        }
    
        .container {
            perspective: 350px;
        }
    
        .container, .card, .card figure, .video {
            font-size: 13px;
            height: 150px;
            line-height: 75px;
            width: 300px;
        }
    
        .buttonC, .buttonI {
            font-size: 12px;
            height: 25px;
            width: 75px;
        }
    
        h3 {
            font-size: 14px;
        }
    }
