.hg {
    display: flex;    
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

    .header {
        width: 100%;
        height: 100%;
        font-size: 24px;
        font-family: 'Satisfy', cursive;
        text-shadow: 2px 2px 2px rgb(97, 67, 67);
        text-align: center;
        flex: 0 0 auto;
        background: #18D8F0cc;
        color: #ED145A;
        border: 1px solid black;
    }

        .hg-body {
            display: flex;
            flex: 1 0 auto;
        }

            .content {
                font-family: 'Quattrocento', serif;
                flex: 1 1 auto;
                background: #18D8F0aa;
                text-align: center;
            }

            .card {
                font-size: 36px;
                font-family: 'Quattrocento', serif;       
                text-align: center;         
            }

                .card {
                    height: 300px;
                    width: 700px;
                    border: 2px solid #ED145A;
                    margin: auto;
                    background: #F090C0;
                    box-shadow: 4px 4px 4px rgb(97, 67, 67);
                    position: relative;
                }

                #begin {
                    height: 35px;
                    width: 70px;
                    font-family: 'Quattrocento', serif;                                    
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

            .nav {
                width: 200px;
                order: -1;
                background: #F090C0;
                border: 1px solid black;                
            }

            .aside {
                width: 200px;
                background: #F090C0;
                border: 1px solid black;                
            }

            h3 {
                font-family: 'Quattrocento', serif;                
            }

    .footer {
        width: 100%;
        height: 50px;
        background: #18D8F0ff;
        border: 1px solid black;        
    }

    @media(max-width: 700px) {
        .hg-body {
            flex-direction: column;
        }
        .nav, .aside {
            width: 100%;
        }    
    }

